
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/MainSiteLayout.cshtml";
}

@Styles.Render("~/bundles/PasswordResetStyles")

    <div class="section-banner">
        <div>
            <div class="section-title title-bold title-banner">Password Reset</div>
            <div class="section-title title-small">Reset your password to recover access to your account</div>
        </div>
    </div>


    <div class="menu-section" data-aos="fade-up">

        <div id="key-header">
            <div style="width:100%">Your New Password</div>

        </div>

        <form id="reset-password-form">
            <input id="email" type="hidden" value="@ViewData["email"]" required>
            <input id="code" type="hidden" value="@ViewData["code"]" required>
            <input id="new-password" minlength="10" type="text" placeholder="New Password" required>
            <input id="new-password-repeat" minlength="10" type="text" placeholder="Repeat New Password" required>
            <input class="btn" id="password-form-submit" type="submit" value="Confirm" required>
        </form>
    </div>

@Scripts.Render("~/bundles/PasswordResetScripts");
