
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

@*https://localhost:44392/Braintree/Success*@

@Styles.Render("~/bundles/ResponseStyles")

<div id="container">
    <div class="circle"><i class="fas fa-cogs"></i></div>
    <h1 id="outcome-text">Almost there</h1>
    <p id="outcome-info">@TempData["Alert"]</p>
    <button id="btn-return" onclick="document.getElementById('loading-background').style.display = 'block';window.location.href='@TempData["Redirect"]'">Connect Now</button>
</div>

<style>

    .fa-cogs, #outcome-text {
        color: #0c3853 !important;
    }

    #btn-return {
        background-color: #cc3333;
    }


</style>

