<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>



    @Styles.Render("~/bundles/MenuStyles")
    @Styles.Render("~/bundles/EditorStyles")


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>




    <div id="main-scale">
        <div id="main-top">
            <div id="main-content">
                <h1 id="main-title">Name</h1>
                <p id="main-tags">
                    <span>Chinese</span><span>•</span><span>First Tag</span><span>•</span><span>Second Tag</span><span>•</span><span>Deal</span><span>•</span><span>Limited Deal</span>
                </p>
                <p id="main-address">50 Broadcroft Avenue HA7 1PF Stanmore</p>

            </div>
        </div>

    </div>


    <div class="editor-section">
        <div class="editor-section-handle"></div>
        <div class="editor-section-content">

            <div draggable="true" class="editor-section section-item">
                <div class="editor-section-handle"></div>
                <div class="editor-section-content">123</div>
            </div>

            <div draggable="true" class="editor-section section-item">
                <div class="editor-section-handle"></div>
                <div class="editor-section-content">456</div>
            </div>

            <div draggable="true" class="editor-section section-item">
                <div class="editor-section-handle"></div>
                <div class="editor-section-content"></div>
            </div>

            <div class="editor-add">Add Item</div>

        </div>
    </div>


</body>



@*@Scripts.Render("~/bundles/MenuScripts")*@
@Scripts.Render("~/bundles/MenuEditor")

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</html>
