<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>



    @Styles.Render("~/bundles/MenuEditorPageStyles")





</head>

<body>

    <div id="toolbar">
        <ul>
            <li id="toolbar-save"><a>Save Changes <i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
            <li id="toolbar-uptodate"><a>Uptodate <i class="fa fa-check" aria-hidden="true"></i></a></li>
        </ul>
    </div>


    <div class="editor-section" style="margin: 10px;">
        <div class="editor-section-handle"></div>
        <div class="editor-section-content">





            <div class="editor-section section-title">
                <div class="editor-section-handle"></div>
                <div class="editor-section-content">
                    <input class="section-title-input" placeholder="Menu Title">
                    <input id="section-file-import" type="file">
                </div>

            </div>



            <div class="editor-section-tags">

            </div>
            <div class="editor-add-tag">Add Tag</div>
        </div>
    </div>



    <div id="section-container">

        <div class="editor-section">
            <div class="editor-section-handle"></div>
            <div class="editor-section-content">

                <div class="editor-section section-title">
                    <div class="editor-section-handle"></div>
                    <div class="editor-section-content">
                        <input class="section-title-input" placeholder="Title">
                    </div>
                </div>


                <div class="editor-section-items">
                
                </div>
                <div class="editor-add">Add Item</div>
            </div>
        </div>


    </div>

    <div class="editor-add add-section">Add Section</div>


</body>




@Scripts.Render("~/bundles/MenuEditorPageScripts")

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</html>
