@Styles.Render("~/bundles/MainSiteLayout")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@Html.AntiForgeryToken()


<div id="loading-background">
    <div id="background-content">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<div id="nav">
    <ul>



        <li class="right-nav btn" id="login-show"><a>Login</a></li>
        <li class="right-nav" id="logout-li"><a onclick="window.location.href='./Login/Logout'">Logout</a></li>
    </ul>
</div>
<div id="notification-container"></div>

@RenderBody()

<footer style="margin-top:105px">
    <div></div>
    <div>

        <div>
            <div class="footer-icon">
                <span>My Menu Plus</span>
                <div class="icon-svg-container">
                    <img class="icon-svg" src="@Url.Content("~/Media/logo.svg")" />
                </div>
            </div>
            <p id="footer-desc">My Menu Plus was made by Harrison Smith to provide a digital alternative that aims to streamline the traditional menu by providing modern features not achievable on a paper-based format.</p>
        </div>

        

    </div>
</footer>

@Scripts.Render("~/bundles/MainSiteLayoutScripts")


<script>
    AOS.init();
</script>


