
@{
    Layout = "~/Views/Shared/MainSiteLayout.cshtml";
    ViewBag.Title = "Menu Selection";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Selection</title>

    @Styles.Render("~/bundles/MenuSelectionPageStyles")
    

</head>
<body>


    <div id="menu-create-background">
        <div id="menu-create">
            <button type="button" id="btn-menu-close">×</button>
            <form id="menu-create-form">
                <div class="section-title title-small btn-create-new" style="padding-top: 20px;">Create a menu</div>
                <div class="section-title title-bold" style="padding: 0px 20px;">Almost done, you just need a name!</div>
                <input id="menu-create-title" minlength="1" placeholder="Give your menu a name" type="text" required>
                <button id="btn-menu-create">Create Menu</button>
                <a class="loading"></a>
                <span class="errorDisplay"></span>


            </form>
        </div>
    </div>


    <div class="section-banner">

        <div>
            <div class="section-title title-bold title-banner">My Menus</div>
            <div class="section-title title-small">Select a menu to manage, or create a new one</div>
        </div>

        <div>
            <button class="btn btn-outline btn-create-new" id="btn-banner-create-new">Create New Menu</button>

        </div>
    </div>



    <div class="flex-container" id="menu-container">


        @Html.Raw(@ViewData["menuThumbnails"])



        <div data-aos="fade-up" data-aos-delay="300" id="menu-create-new">
            <div class="section-title title-small btn-create-new">Quick Start</div>
            <div class="section-title title-bold">Create a new menu for your business</div>
            <button class="btn btn-article btn-create-new">Get Started</button>

        </div>

    </div>





    @Scripts.Render("~/bundles/MenuSelectionPageScripts")

  
</body>
</html>