
/*Login*/
#login-popup {
	width: 100vw;
	height: 100vh;
	background-color: rgba(240,242,245,0.7);
	position: fixed;
	top: 0;
	z-index: 50;
	display:none;
}

#login-form, #register-form, #reset-password-form {
	margin: auto;
	width: 80%;
	max-width: 600px;
	min-height: 200px;
	background-color: blueviolet;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: white;
	box-shadow: 0px 22px 24px 0px rgba(46,51,51,0.07);
	text-align: center;
	padding: 40px 0px 60px 0px;
	animation: formShow 1s normal forwards ease-in-out;
}

#reset-password-form {
display:none;
}

#forget-password-back {
	cursor:pointer;
}

.formDuelField > input, .loginControls > input[type=text], .loginControls > input[type=password], .loginControls > input[type=email], #menu-create > form > input[type=text] {
	width: 70%;
	margin: 30px auto 30px auto;
	display: block;
	border: 1px solid #e7e7e7 !important;
	border-radius: 4px;
	padding: 0px 15px;
	min-height: 50px;
	font-size: 16px;
	color: #495057;
}

#menu-create > form > input[type=text] {
	display: inline;
	transform: translateX(3px);
	padding: 0px 20px;
}

#menu-create > form > button {
	display: inline;
	transform: translateX(-3px);
	border-radius: 0px 10px 10px 0px;
	padding: 10px 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	background: #cc3333;
	color: white;
	height: 48px;
	margin-top: 36px;
}

.loginControls > label {
	width: 70%;
	text-align: left;
	display: inline-block;
}


#login-logo {
	margin-top: 20px;
}


#login-message {
	color: #212529;
	display: block;
	margin-bottom: 30px;
	font-size: 16px;
	margin-left: 63px;
}

#login-forgot {
	color: #63bbff;
	font-size: 15px;
	margin-bottom: 5px;
	display: block;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	text-align: right;
	margin-right: 15%;
	margin-top: -17px;
}

#login-forgot:hover {
	color: black;	
}

.login-show {
	width: 70%;
	min-height: 48px;
	margin-top: 30px;
}



.btn-login {
	width: 70%;
	margin: auto;
}

/*Register*/

#register-form {
	display: none;
}


/*Shared Form Components*/
.login-close {
	float: right;
	margin-right: 30px;
	transform: translateY(-12px);
	font-size: 37px;
	background: rgba(0,0,0,0);
	outline: none;
	border: none;
	cursor: pointer;
	color: #212529;
}

.formDuelField {
	width: 70%;
	margin: 30px auto auto auto;
	display: flex;
}

.formDuelField > input {
	width: 50%;
	margin-left: 0px;
	margin-right: 0px;
}

.formDuelField > input {
	width: 50%;
	margin: 0px;
}

.formDuelField > input:nth-child(odd) {
	margin-right:12px
}

.formDuelField > input:nth-child(even) {
	margin-left: 12px
}

.form-message {
	display: block;
	color: #212529;
	cursor:pointer;	
}

.btn-state-sent {
	background-color: rgb(170,170,170) !important;
}

.btn-state-sent::after {
	content: " Sent";	
}


.loading {
	background-image: url('../Media/Loading.gif');
	width: 30px;
	height: 30px;
	display: none;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px auto;
}

.errorDisplay {
	width: 70%;
	margin: auto;
	margin-bottom: 25px;
	display: block;
	color: #d81515;
	font-weight: 300;
}

@keyframes formShow {
	0% {
		transform: translate(-50%,-70%);
		opacity: 0;
	}

	100% {
		transform: translate(-50%,-50%);
		opacity: 1;
	}
}


