/* ----------------Scale Navbar----------------- */
@media only screen and (max-width: 768px) {
  #navs > a {
    display: block;
    line-height: initial;
    margin-top: 10px;
  }

  #navs {
    margin-top: 30px;
  }

  #navs {
    width: 25% !important;
  }

  #nav-icon {
    width: 80% !important;
  }

  #nav-menu {
    width: 25% !important;
  }
}

/* ----------------Scale Menu------------------- */
@media only screen and (max-width: 1400px) {
  #main-container {
    width: 100%;
    padding: 0px;
  }
}

@media only screen and (max-width: 1060px) {
  #basket-container {
    display: none;
  }
#main-menu {
    width: 100%;
}

  #main-container {
    width: 100%;
    padding: 0px;
  }
}

@media only screen and (max-width: 425px) {
  .item-btn {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 400px) {
  #main-menu > table {
    padding: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .item-btn {
    display: none;
  }
}

/*----------------- Scale Main Top ---------------*/




@media only screen and (max-width: 1128px) {

  #main-top {
    max-width: 1000px;
  }

  #main-content {
    border-radius: 5px;
   
  }




}

/* ---------------Footer---------------- */

@media only screen and (max-width: 600px) {
  /* footer container */
  footer > div:nth-child(2) {
    flex-direction: column;
  }

  /* footer sections */
  footer > div:nth-child(2) > div {
    width: calc(100% - 40px) !important;
    padding: 20px;
  }

  /* footer icon and text */
  .footer-icon,
  #footer-desc {
    margin-left: 0px;
  }

  /* footer titles */
  footer > div > div > h3 {
    margin-top: -30px;
  }

  #social-text {
    display: none;
  }
}
