

#nav > ul > li > a, #nav > ul > li > a:link, #nav > ul > li > a:visited {
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor:pointer;
}

    #nav > ul > li > a:hover {
        opacity: 0.7;
    }

#nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav > ul > li:not(.right-nav) {
    display: inline;
}

#nav > ul > li {
    padding: 10px; 
}



.right-nav {
    float: right;
}


#nav {
    background-color: #15191b;
    padding: 20px;
    margin: 0px;
}

#logout-li, #login-show {
    margin-top: -10px;
    display: none;

    color: red;
    text-align: center;
    border-radius: 6px;
    width: fit-content !important;
}

#logout-li {
    display: block
}


#nav {
    min-height: 20px;
}