:root{
    --order-width: 400px;
}

body{
    background-color: black;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.comment {
    width: calc(100% - 40px);
    border: 1px solid;
    padding: 0px 20px;
}


#order-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 21px);
    align-content: flex-start;

    position: absolute;
    top: 0px;
}

#order-container > div{
    width: var(--order-width);
    color: white;
    margin: 10px;
    border: 1px solid;
}


.item-table{
    width: 100%;
}

.item-table > tbody > tr > td:nth-child(1){
    width: 50px;   
    text-align: right;
    
}

.item-table > tbody > tr > td:nth-child(2){
    padding-left: 10px;  
}


.item-table > tbody > tr:nth-child(1)> td {
    border-top: 2px solid white;
    padding-top: 6px;
}


.timer{
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.order-content > h2,.order-content > h4{
    margin: 0px;
}



.order-content{
    padding: 0px 10%;
}


#breakers{
    width: 100%;
    transform: translateX(5px);
}



.breaker{
    height: calc(100vh - 21px);
    width: 3px;
    background-color: white;
    display: inline-block;
    margin-left: calc(var(--order-width) + 22px - 3px);
    cursor: pointer;
}

.order-complete{
    background-color: white;
    border-color: rgba(0,0,0,0);
    border-radius: 2px;
    margin: 3px auto 7px;
    display: block;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.order-complete:hover{
    opacity: 0.7;
}
.loading {
    background-image: url(../Media/Loading.gif);
    width: 30px;
    height: 30px;
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
}

#login {
    width: 400px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

#connection-form {
    padding: 20px 20px 32px 20px;
    text-align: center;
}

#connection-key {
    padding: 4px 4px 4px 10px;
    background-color: #f0f2f5;
    border: 1px solid #dadde2;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
    border-radius: 5px;
}

#connection-submit {
    display: inline;
    border-radius: 0px 5px 5px 0;
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    background: #cc3333;
    color: white;
    height: 25px;
    line-height: 2px;
    transform: translateX(-6px);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0;
}

#connection-message {
    text-align: center;
    font-size: 11px;
    padding: 0px 32px;
}