
/*Generic Editor*/

.editor-section {
    margin: 50px;
    display: flex;
}

.editor-section-handle {
    width: 64px;
    background: #0c3853;
    border-radius: 5px 0px 0px 5px;
}

.editor-section-content {
    width: -webkit-fill-available;
    background: #dbdbdc;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    overflow-x: hidden;
}


input {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    font-size: 18px;
}



textarea {
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    font-size: 13px;
}


/*Create New Item Button*/
.editor-add, .editor-add-tag {
    margin-left: 25px;
    margin-bottom: 15px;
    display: flex;
    line-height: 24px;
    color: #6b6b6f;
    cursor: pointer;
    width: 130px;
}

.add-section {
    margin-left: 140px;
    margin-top: 20px;
}

    .editor-add:hover, .editor-add-tag:hover {
        opacity: 0.7;
    }

    .editor-add::before, .editor-add-tag::before {
        content: "+";
        border: 1px solid;
        width: 20px;
        line-height: 22px;
        text-align: center;
        height: 20px;
        font-size: 20px;
        margin-right: 7px;
        display: block;
    }


/*Title Section*/
.section-title {
    margin: 20px;
    color: white;
}

.section-title > .editor-section-content {
    background-color: #2b2f31;
}

.section-title > .editor-section-handle {
    background-color: #1b2023
}

.section-title-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    font-size: 40px;
    color: white;
    box-shadow: none;
}



/*Item Section*/
.section-item {
    min-height: 100px;
    margin: 20px;
}


.section-item > .editor-section-content {
    background-color: white;
}


.editor-section-content > div > input:not(input[type=checkbox]) {
    display: block;
    margin-bottom: 10px;
}

.section-item > .editor-section-content {
    display: flex;
}

.section-item > .editor-section-content > div:first-child { /*Left of item section*/
    width: 60%;
    border-right: 2px #84888a solid;
    padding-right: 25px;
}



.section-item > .editor-section-content > div:last-child { /*Right of item section*/
    width: 40%;
    padding-left: 10px;
    margin-left: 15px;
}

    .section-item > .editor-section-content > div > input:not(input[type=checkbox]),
    .section-item > .editor-section-content > div > textarea { /*item section divisions inputs*/
        width: 100%
    }

.section-item > .editor-section-handle {
    background-color: #d89533;
}


#section-container > .editor-section {
    padding: 0px 80px;
}


.editor-section-controls {
    margin: 0px;
    padding: 0px;
}


.editor-section-controls > i {
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    font-size: 20px;
    filter: brightness(0.5);
    cursor:pointer;
}

.fa-caret-up {
    padding-top: 18px !important;
}

.fa-caret-down {
    padding-bottom: 18px !important;
}


.editor-section-controls > i:hover {
    filter: brightness(0.1);
}

.controls-half {
    width: 50% !important;
}



/*Tag Section*/
.section-tag {
    width: 300px;
    margin: 0px 0px 20px 20px;
    min-height: initial;
}

.section-tag > .editor-section-content {
    padding-right:96px
}

.editor-section-tags {
    display: flex;
    flex-wrap: wrap-reverse;
}

.editor-section-tags > div > .editor-section-handle {
    background-color: #ca3333;
    color: #ca3333;
}

   
    /*File Import Section*/
#section-file-import {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*Toolbar*/
#toolbar {
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 8%);
    line-height: 47px;
    margin: 0px;
    position: sticky;
    top: 0px;
    z-index: 9;
}

    #toolbar > ul {
        margin: 0px;
        overflow: hidden;
    }



#toolbar > ul > li {
    list-style-type: none;
    margin-left: 10px;
}

#toolbar > ul > li > a {
    text-decoration: none;
    color: black;
    cursor:pointer;
}


.fa-check {
    color: #022f02
}

.fa-floppy-o {
    margin-left: 2px;
    animation-name: wave;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    12% {
        transform: rotate(-50deg);
    }

    25% {
        transform: rotate(50deg);
    }

    36% {
        transform: rotate(-50deg);
    }

    47% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.fa-check::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: translate(0px, -16px) rotate(-50deg);
    animation: tick 1s normal forwards ease-in-out;
}



@keyframes tick {
    0% {
        transform: translate(0px, -16px) rotate(-50deg);
    }

    100% {
        transform: translate(20px, -36px) rotate(-50deg);
    }
}

#toolbar-save {
    display: none;
}

.toolbar-items {
    color: #d89533;
    width: 100%;
    text-align: center;
    margin: 8px 0px;
    filter: brightness(0.5);
    cursor: pointer;
}

.toolbar-sections {
    color: #0c3853;
    width: 100%;
    text-align: center;
    margin: 8px 0px;
    filter: brightness(0.5);
    cursor: pointer;
}

.toolbar-sections > i:hover {
    opacity:0.5;
}

.fa-caret-down, .fa-caret-up {
    font-size: 25px !important;
}


.loading {
    background-image: url('../Media/Loading.gif');
    width: 30px;
    height: 30px;
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
    margin-left: 70px;
}
